<mat-stepper labelPosition="bottom" #stepper>
  <mat-step *ngFor="let form of formGroups; let i = index" [stepControl]="form" [label]="labels[i]">
    <div style="min-height: calc(100vh - 131px); display: flex;flex-direction: column;">
      <div style="flex: 1; max-height: calc(100vh - 131px - 36px); overflow: auto;"><ng-container *ngIf="form" [ngTemplateOutlet]="contentTemplateRef" [ngTemplateOutletContext]="{$implicit:form}"></ng-container></div>
      <div class="flex-end gap-1">
        <button *ngIf="i>0" mat-flat-button color="primary" matStepperPrevious>{{ "Back" }}</button>
        <button *ngIf="i<formGroups.length" mat-flat-button color="primary" matStepperNext>{{ "Next" }}</button>
      </div>
    </div>
  </mat-step>
</mat-stepper>