@import "/src/assets/styles/variables.scss";

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.gap-1 {
  gap: 8px;
}
