<div class="body-wrap">
  <sm-navbar navBrand="Net Worth Table" color="primary">
    <sm-menu buttonIcon="language" buttonTooltip="common.language.changeLanguage" [menuItemList]="languageMenuList" (itemAction)="changeLanguage($event)"></sm-menu>
  </sm-navbar>
  <div class="content-wrap">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <p>Made with <mat-icon>favorite</mat-icon> by <a target="_blank" href="https://alfrew.github.io/portfolio/">Alfredo Filigheddu</a></p>
    <p>By an idea of <a target="_blank" href="https://steve-antonioni.web.app">Steve Antonioni</a></p>
  </footer>
</div>