@import "/src/assets/styles/variables.scss";

.body-wrap {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.content-wrap {
  overflow: auto;
  flex-grow: 1;
}

footer {
  height: $footer-height;
}
