<sm-stepper [formGroupList]="formGroupList" [labelList]="stepLabels" (submit)="saveData()" (reset)="resetData()">
  <ng-template let-form #content>
    <form class="form" *ngIf="form === incomeFormGroup" [formGroup]="incomeFormGroup">
      <div class="align-items-center"><sm-input-number class="flex-1" formControlName="age" label="fscForm.income.age"></sm-input-number></div>
      <div class="align-items-center"><sm-input-number class="flex-1" formControlName="employment" [isCurrency]="true" label="fscForm.income.employment"></sm-input-number></div>
      <div class="align-items-center"><sm-input-number class="flex-1" formControlName="investment" [isCurrency]="true" label="fscForm.income.investment"></sm-input-number></div>
      <div class="align-items-center"><sm-input-number class="flex-1" formControlName="other" [isCurrency]="true" label="fscForm.income.other"></sm-input-number></div>
      <div class="align-items-center"><sm-input-number class="flex-1" formControlName="expenses" [isCurrency]="true" label="fscForm.income.expenses"></sm-input-number></div>
      <div class="align-items-center"><sm-input-select class="flex-1" formControlName="homeOwner" [optionList]="homeOwnerList" label="fscForm.income.homeOwner"></sm-input-select></div>
      <div class="align-items-center" *ngIf="incomeFormGroup.controls['homeOwner'].value === 'true'"><sm-input-number class="flex-1" formControlName="rent" [isCurrency]="true" label="fscForm.income.rent"></sm-input-number></div>
    </form>


    <form class="form align-items-center gap-2" *ngIf="form === financialAssetsFormGroup" [formGroup]="financialAssetsFormGroup">
      <div class="flex-1">
        <sm-input-number formControlName="cash" [isCurrency]="true" label="fscForm.financialAssets.cash"></sm-input-number>
        <sm-input-number formControlName="bank" [isCurrency]="true" label="fscForm.financialAssets.bank"></sm-input-number>
        <sm-input-number formControlName="emergencyFund" [isCurrency]="true" label="fscForm.financialAssets.emergencyFund"></sm-input-number>
        <sm-input-number formControlName="savings" [isCurrency]="true" label="fscForm.financialAssets.savings"></sm-input-number>
        <sm-input-number formControlName="GIC" [isCurrency]="true" label="fscForm.financialAssets.GIC"></sm-input-number>
        <sm-input-number formControlName="bonds" [isCurrency]="true" label="fscForm.financialAssets.bonds"></sm-input-number>
        <div class="align-items-center gap-2">
          <sm-input-number class="flex-1" formControlName="stocks" [isCurrency]="true" label="fscForm.financialAssets.stocks"></sm-input-number>
          <sm-input-select class="flex-1" formControlName="stocksDuration" [optionList]="stocksDurationList" label="fscForm.financialAssets.stocksDuration.title"></sm-input-select>
        </div>
        <sm-input-number formControlName="crypto" [isCurrency]="true" label="fscForm.financialAssets.crypto"></sm-input-number>
        <sm-input-number formControlName="gold" [isCurrency]="true" label="fscForm.financialAssets.gold"></sm-input-number>
        <sm-input-number formControlName="other" [isCurrency]="true" label="fscForm.financialAssets.other"></sm-input-number>
      </div>

      <div class="flex-1" formGroupName="interests">
        <sm-input-number formControlName="cash" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="bank" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="emergencyFund" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="savings" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="GIC" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="bonds" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="stocks" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="crypto" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="gold" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="other" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
      </div>
    </form>


    <form class="form align-items-center gap-2" *ngIf="form === physicalAssetsFormGroup" [formGroup]="physicalAssetsFormGroup">
      <div class="flex-1">
        <sm-input-number formControlName="vehicle" [isCurrency]="true" label="fscForm.physicalAssets.vehicle"></sm-input-number>
        <sm-input-number formControlName="property" [isCurrency]="true" label="fscForm.physicalAssets.property"></sm-input-number>
        <sm-input-number formControlName="equipment" [isCurrency]="true" label="fscForm.physicalAssets.equipment"></sm-input-number>
        <sm-input-number formControlName="electronics" [isCurrency]="true" label="fscForm.physicalAssets.electronics"></sm-input-number>
        <sm-input-number formControlName="other" [isCurrency]="true" label="fscForm.physicalAssets.other"></sm-input-number>
      </div>

      <div class="flex-1" formGroupName="interests">
        <sm-input-number formControlName="vehicle" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="property" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="equipment" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="electronics" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="other" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
      </div>
    </form>


    <form class="form align-items-center gap-2" *ngIf="form === liabilitiesFormGroup" [formGroup]="liabilitiesFormGroup">
      <div class="flex-1">
        <sm-input-number formControlName="creditCard" [isCurrency]="true" label="fscForm.liabilities.creditCard"></sm-input-number>
        <sm-input-number formControlName="creditLine" [isCurrency]="true" label="fscForm.liabilities.creditLine"></sm-input-number>
        <sm-input-number formControlName="studentLoan1" [isCurrency]="true" label="fscForm.liabilities.studentLoan1"></sm-input-number>
        <sm-input-number formControlName="studentLoan2" [isCurrency]="true" label="fscForm.liabilities.studentLoan2"></sm-input-number>
        <sm-input-number formControlName="mortgage" [isCurrency]="true" label="fscForm.liabilities.mortgage"></sm-input-number>
        <sm-input-number formControlName="carLoan" [isCurrency]="true" label="fscForm.liabilities.carLoan"></sm-input-number>
        <sm-input-number formControlName="personalLoan" [isCurrency]="true" label="fscForm.liabilities.personalLoan"></sm-input-number>
        <sm-input-number formControlName="medicalDebt" [isCurrency]="true" label="fscForm.liabilities.medicalDebt"></sm-input-number>
        <sm-input-number formControlName="other1" [isCurrency]="true" label="fscForm.liabilities.other1"></sm-input-number>
        <sm-input-number formControlName="other2" [isCurrency]="true" label="fscForm.liabilities.other2"></sm-input-number>
        <sm-input-number formControlName="other3" [isCurrency]="true" label="fscForm.liabilities.other3"></sm-input-number>
      </div>

      <div class="flex-1" formGroupName="monthlyPayment">
        <sm-input-number formControlName="creditCard" [isCurrency]="true" label="fscForm.common.monthlyPayment"></sm-input-number>
        <sm-input-number formControlName="creditLine" [isCurrency]="true" label="fscForm.common.monthlyPayment"></sm-input-number>
        <sm-input-number formControlName="studentLoan1" [isCurrency]="true" label="fscForm.common.monthlyPayment"></sm-input-number>
        <sm-input-number formControlName="studentLoan2" [isCurrency]="true" label="fscForm.common.monthlyPayment"></sm-input-number>
        <sm-input-number formControlName="mortgage" [isCurrency]="true" label="fscForm.common.monthlyPayment"></sm-input-number>
        <sm-input-number formControlName="carLoan" [isCurrency]="true" label="fscForm.common.monthlyPayment"></sm-input-number>
        <sm-input-number formControlName="personalLoan" [isCurrency]="true" label="fscForm.common.monthlyPayment"></sm-input-number>
        <sm-input-number formControlName="medicalDebt" [isCurrency]="true" label="fscForm.common.monthlyPayment"></sm-input-number>
        <sm-input-number formControlName="other1" [isCurrency]="true" label="fscForm.common.monthlyPayment"></sm-input-number>
        <sm-input-number formControlName="other2" [isCurrency]="true" label="fscForm.common.monthlyPayment"></sm-input-number>
        <sm-input-number formControlName="other3" [isCurrency]="true" label="fscForm.common.monthlyPayment"></sm-input-number>
      </div>

      <div class="flex-2" formGroupName="interests">
        <sm-input-number formControlName="creditCard" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="creditLine" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="studentLoan1" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="studentLoan2" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="mortgage" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="carLoan" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="personalLoan" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="medicalDebt" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="other1" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="other2" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
        <sm-input-number formControlName="other3" [isPercentage]="true" label="fscForm.common.changeRate"></sm-input-number>
      </div>
    </form>
  </ng-template>
</sm-stepper>